//barra navegacao
nav {
    @include transition(top 0.4s, height 0.6s, background-color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1));
    z-index: 20;
    position: fixed;
    left: 0;
    top: -100px;
    right: 0;
    width: 100%;
    display: flex;
    padding: 5px 15px;
    background-color: transparent;
    align-items: center;
    box-shadow: 0px 1px 1px rgba(#000, 0.3);
    height: 65px;
    overflow: hidden;
    max-width: $body-max-width;
    margin: 0 auto;
    &.active {
        top: 0;
    }
    &.branco {
        background-color: $header-background;
    }
    menu li.contato {
        @include transition(background-color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1));
    }
    &.transparente {
        background-color: rgba(0, 0, 0, 0.25);
        color: #fff;
        box-shadow: none;
        .menu {
            li {
                &.active {
                    border: 1px solid #fff;
                }
                &.contato {
                    background-color: rgba(#fff, 0.3);
                }
            }
        }
    }
    .logo img {
        height: 40px;
        width: auto;
        margin-left: 50px;
    }
    .menu {
        margin-left: auto;
        margin-bottom: 0;
        font-size: 2.2rem;
        font-weight: 300;
        padding-left: 0;
        list-style: none;
        display: flex;
        overflow: hidden;
        @include transition(opacity 0.3s);
        li {
            @include transition(margin 0.3s);
            border: 1px solid transparent;
            margin: 0 5px;
            padding: 0;
            font-size: 1.8rem;
            font-weight: 200;
            padding: 1px 25px;
            &.active {
                border: 1px solid #bbb;
            }
            &.contato {
                background-color: rgba($brand-orange, 0.8);
                color: #fff;
                font-weight: 400;
            }
        }
    }
}

.open-menu {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    background-color: $brand-orange;
    color: #fff;
    font-size: 2.2rem;
    padding: 0 10px;
}

@include bp-menor-992 {
    nav {
        flex-direction: column;
        .logo img {
            margin: 10px 0 0 0;
        }
        .menu {
            opacity: 0;
            margin: 0;
            flex: 1;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 0;
        }
        &.open {
            @include transition(height 0s);
            bottom: 0px;
            top: 0;
            height: 100%;
            &.transparente {
                background: rgba(0, 0, 0, 0.95);
            }
            .menu {
                opacity: 1;
                height: auto;
                padding: 30px;
                li {
                    margin: 3.5vh;
                }
            }
        }
    }
    .open-menu {
        display: block;
    }
}